<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Kayce Danna's Profile</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 class=text-center">
          <h1>Kayce Danna's Profile</h1>
          <h4><a class="text-danger" href="/api">Read My API Documentation</a></h4>
           <img src="https://avatars2.githubusercontent.com/u/18216073?v=3&s=460" class="img-rounded img-responsive"  alt="profile picture" >
        </div>
      </div>
    </div>
  </body>
</html>
