body {
	font-size: 50px;
  	color: black;
  	font-family: Helvetica;
  	background-image: url("/images/woodBackground.jpg");
}

/*#image{
	display: inline;
    top: 50%;
    left: 50%;
    margin-right: -50%;
}*/

h4 {
	color: black;
}